*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    --bg-color: rgb(32, 32, 36);
    background-color: var(--bg-color);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header
{
    display: flex;
    justify-content: flex-end;
}
header nav
{
    margin-right: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 13px;
}
header nav li
{
    padding: 13px;
}
header nav a
{
    text-decoration: none;
    color: white;
}
header nav li button
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
}
nav li button.menu img
{
    width: 15px;
}
nav li button.user img
{
    width: 30px;
}

/*Main*/

main
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
main div.logo
{
    width: 100%;
    position: relative;
}

main div.search
{
    display: flex;
    height: 200px;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.search input
{
    width: 100%;
    padding: 13px;
    background-color: var(--bg-color);
    border-radius: 40px;
    border: 1px solid rgb(96, 96, 96);
}
.search .links
{
    width: 320px;
    display: flex;
    justify-content: space-evenly;
}
.search .links a
{
    font-size: 15px;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 16px;
    background-color: rgb(57, 57, 57);
}
.search .offered-in
{
    font-size: 13px;
    color: rgb(183, 183, 183);
}
.search .offered-in a
{
    font-size: 14px;
    color: rgb(110, 156, 255);
    text-decoration: none;
}

/*Breakpoints*/

@media(min-width: 624px)
{
    .search input
    {
        width: 585px;
    }
}